*.aqua:	#8abeb7
*.background:	#1d1f21
*.blue:	#81a2be
*.color0:	#000000
*.color1:	#A48B79
*.color10:	#BD7780
*.color11:	#CC7588
*.color12:	#BBA58B
*.color13:	#CC8F8E
*.color14:	#C4AB91
*.color15:	#C2B292
*.color2:	#BD7780
*.color3:	#CC7588
*.color4:	#BBA58B
*.color5:	#CC8F8E
*.color6:	#C4AB91
*.color66:	#000000
*.color7:	#C2B292
*.color8:	#666666
*.color9:	#A48B79
*.comment:	#969896
*.currentLine:	#282a2e
*.foreground:	#c5c8c6
*.green:	#b5bd68
*.orange:	#de935f
*.purple:	#b294bb
*.red:	#cc6666
*.selection:	#373b41
*.yellow:	#f0c674
*background:	#0D0C10
*color0:	#000000
*color1:	#A48B79
*color10:	#BD7780
*color11:	#CC7588
*color12:	#BBA58B
*color13:	#CC8F8E
*color14:	#C4AB91
*color15:	#C2B292
*color2:	#BD7780
*color3:	#CC7588
*color4:	#BBA58B
*color5:	#CC8F8E
*color6:	#C4AB91
*color66:	#000000
*color7:	#C2B292
*color8:	#666666
*color9:	#A48B79
*cursor:	#C0B1A1
*foreground:	#C0B1A1
URxvt*background:	[100]#000000
URxvt*borderColor:	[100]#000000
URxvt*cursorColor:	#C2B292
URxvt*depth:	32
URxvt*foreground:	#C2B292
UXTerm*background:	#000000
UXTerm*cursorColor:	#C2B292
UXTerm*foreground:	#C2B292
XClock*background:	#000000
XClock*foreground:	#C2B292
XClock*hourColor:	rgba:c2/b2/92/ff
XClock*majorColor:	rgba:c2/b2/92/ff
XClock*minorColor:	rgba:c2/b2/92/ff
XClock*minuteColor:	rgba:c2/b2/92/ff
XClock*secondColor:	rgba:c2/b2/92/ff
XTerm*background:	#000000
XTerm*cursorColor:	#C2B292
XTerm*foreground:	#C2B292
Xft.antialias:	true
Xft.autohint:	false
Xft.dpi:	96
Xft.hinting:	true
Xft.hintstyle:	hintslight
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb
emacs*background:	#000000
emacs*foreground:	#C2B292
rofi.color-active:	#000000, #C2B292, #000000, #BD7780, #000000
rofi.color-enabled:	true
rofi.color-normal:	#000000, #C2B292, #000000, #BD7780, #000000
rofi.color-urgent:	#000000, #A48B79, #000000, #A48B79, #C2B292
rofi.color-window:	#000000, #000000, #BD7780

